<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/images/favicon.ico">
    <title>Damon Nguyen</title>
    <%- include ../css.ejs %>
  </head>
  <body>
    <%- include ../navbar.ejs %>
    <h1 class="text-center">freeCodeCamp Basic Algorithm</h1>
    <div class="col-xs-8 col-xs-offset-2">
        <div class="col-xs-8">
            <img src="/images/blog-images/FCC-basic-algos/FCC-fiya.jpg">
        </div>
        <div class="col-xs-4">
           <img src="/images/blog-images/FCC-basic-algos/list.png"> 
        </div>        
    </div>
    <div class="container FCC-basic-algos">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1 class="text-center">Reverse String</h1>
            <img src="/images/blog-images/FCC-basic-algos/reverseString.png">

            <h1 class="text-center">Factorialize A Number</h1>
            <img src="/images/blog-images/FCC-basic-algos/factorial.png">

            <h1 class="text-center">Check for Palindromes</h1>
            <img src="/images/blog-images/FCC-basic-algos/palindrome.png">

            <h1 class="text-center">Find Longest Word</h1>
            <img src="/images/blog-images/FCC-basic-algos/findLongestWord.png">

            <h1 class="text-center">Title Case a Sentence</h1>
            <img src="/images/blog-images/FCC-basic-algos/titleCase.png">

            <h1 class="text-center">Find the Longest Word in a String</h1>
            <img src="/images/blog-images/FCC-basic-algos/largestOfFour.png">            
            <h1 class="text-center">Confirm the Ending</h1>
            <img src="/images/blog-images/FCC-basic-algos/confirmEnding.png">

            <h1 class="text-center">Repeat a string repeat a string</h1>
            <img src="/images/blog-images/FCC-basic-algos/repeatStringNumTimes.png">

            <h1 class="text-center">Truncate a string</h1>
            <img src="/images/blog-images/FCC-basic-algos/truncateString.png">

            <h1 class="text-center">Chunky Monkey</h1>
            <img src="/images/blog-images/FCC-basic-algos/chunkArrayInGroups.png">

            <h1 class="text-center">Slasher Flick</h1>
            <img src="/images/blog-images/FCC-basic-algos/slasher.png">

            <h1 class="text-center">Mutations</h1>
            <img src="/images/blog-images/FCC-basic-algos/mutation.png">

            <h1 class="text-center">Falsy Bouncer</h1>
            <img src="/images/blog-images/FCC-basic-algos/bouncer.png">

            <h1 class="text-center">Seek and Destroy</h1>
            <img src="/images/blog-images/FCC-basic-algos/destroyer.png">

            <h1 class="text-center">Where do I belong</h1>
            <img src="/images/blog-images/FCC-basic-algos/getIndexToIns.png">

            <h1 class="text-center">Caesars Cipher</h1>
            <img src="/images/blog-images/FCC-basic-algos/rot13.png" style="padding-bottom: 100px;">
        </div>
    </div>
    <%- include ../footer.ejs %>
    <%- include ../js.ejs %>
  </body>
</html>