<div class="col-md-6 col-lg-3 p-0 border-left-hover blog-masonry-post">
  <div class="media-container">
    <a href="/blog/ajax">
      <div class="media-file">
        <img src="/images/blog-images/js-ajax/ajax.png" alt="" class="img-fluid">
        <div class="cross"></div>
      </div>
    </a>
    <div class="media-text">
      <h3 class="blog-title text-center"><a href="/blog/ajax">Ajax</a></h3>
      <p>What is Ajax? What is it used for? This is a short article explaining the concept of Ajax and what it is used for.</p>
      <span class="w-50 text-right">6.2.2017</span></p>
    </div>
  </div>
</div>