<div class="col-md-6 col-lg-3 p-0 border-left-hover blog-masonry-post">
  <div class="media-container">
    <a href="/blog/FCC-basic-algos">
      <div class="media-file">
        <img src="/images/blog-images/FCC-basic-algos/FCC-fiya.jpg" alt="" class="img-fluid">
        <div class="cross"></div>
      </div>
    </a>
    <div class="media-text">
      <h3 class="blog-title text-center"><a href="/blog/closure">freeCodeCamp Basic Algorithms</a></h3>
      <p>This is an article on all of my solutions for the basic algorithms on <a href="www.freecodecamp.com">freeCodeCamp.com</a>.</p>
      <span class="w-50 text-right">5.9.2017</span></p>
    </div>
  </div>
</div>