<div class="col-md-6 col-lg-3 p-0 border-left-hover blog-masonry-post">
  <div class="media-container">
    <a href="/blog/this">
      <div class="media-file">
        <img src="/images/blog-images/js-this/this.jpeg" alt="" class="img-fluid">
        <div class="cross"></div>
      </div>
    </a>
    <div class="media-text">
      <h3 class="blog-title text-center"><a href="/blog/this">this in JavaScript</a></h3>
      <p>In this article I will be talking about keyword <span style="color: #E74C3C">this</span>. I will be going over four basic concepts: Default, Implicit, Explicit and Hard bind.</p>
      <span class="w-50 text-right">6.1.2017</span></p>
    </div>
  </div>
</div>