<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Damon Nguyen</title>
    <%- include css.ejs %>
  </head>
  <body>
    <!-- navbar -->
    <%- include navbar.ejs %>
    <section class="border-right-section border-left-section-theme-color">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 p-0">
            <div class="owl-carousel owl-theme scroll-media triangle">
              <div class="item"><img src="/images/matrix.jpg" alt=""></div>
              <!-- <div class="item"><img src="/images/8.jpg" alt=""></div> -->
              <!-- <div class="item"><img src="/images/10.jpg" alt=""></div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 p-0 scroll-content">
            <div class="content-box">
              <h3><i class="fa fa-user-circle"></i> About me</h3>
              <p>Hi my name is Damon and I am a web developer. I have been coding for a couple of years now. I found interest in web developing when I was really young when I got my first computer and I saw how amazing the web has grown over the past decade. One day I wanted to build websites and started learning on my own through the internet. As I learned more I grew a passion for web developing because of the simplicity of building something from the ground up and how to solve challenging problems.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include footer.ejs %>
    <%- include js.ejs %>
  </body>
</html>
