<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Damon Nguyen</title>
    <%- include css.ejs %>
  </head>
  <body>
    <!-- navbar -->
    <%- include navbar.ejs %>
    <section class="border-right-section border-left-section-theme-color" id="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 p-0">
            <div class="owl-carousel owl-theme scroll-media triangle">
              <div class="item"><img src="/images/matrix.jpg" alt=""></div>
              <!-- <div class="item"><img src="/images/8.jpg" alt=""></div> -->
              <!-- <div class="item"><img src="/images/10.jpg" alt=""></div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 p-0 scroll-content">
            <div class="content-box">
              <h3 class="about-h3"><i class="fa fa-user-circle"></i> About me</h3>
              <p class="about-p">Hi my name is Damon and I am a web developer. I have a passion for building web applications that help solve real world problems. One of the projects that I have been working on lately is shareshare and the goal is to create a platform for students from all over to be able to share notes with optical character recognition technology to convert image of handwritten note into text.</p>
              <p class="about-p">As much as I like building these type of application I have been focusing a lot of my effort recently on building beautiful responsive websites that scale correctly on all devices.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include footer.ejs %>
    <%- include js.ejs %>
  </body>
</html>
