<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Damon Nguyen</title>
    <%- include css.ejs %>
  </head>
  <body>
    <!-- navbar -->
    <%- include navbar.ejs %>
    <section class="border-right-section border-left-section-theme-color" id="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 p-0">
            <div class="owl-carousel owl-theme scroll-media triangle">
              <div class="item"><img src="/images/matrix.jpg" alt=""></div>
              <!-- <div class="item"><img src="/images/8.jpg" alt=""></div> -->
              <!-- <div class="item"><img src="/images/10.jpg" alt=""></div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 p-0 scroll-content">
            <div class="content-box">
              <h3 class="about-h3"><i class="fa fa-user-circle"></i> About me</h3>
              <p class="about-p">My name is Damon and I am  a Full-Stack software engineer who loves to build beautiful and dynamic content for modern web. With years of experience and enjoy the challenges of building an idea from the ground up.</p>
              <p class="about-p">Recent efforts of mine have been directed on developing fluid layout/responsive design. I believe that websites should not only be functional, but be aesthetically well-designed for the best user experience.</p>
            </div>
            <div class="col-xs-12">
              <a class="about-resume text-center" href="/files/DamonNguyensResume.pdf" target="_blank">Download Resume</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include footer.ejs %>
    <%- include js.ejs %>
  </body>
</html>
