<!DOCTYPE html>
<html>
<head>
  <title>Damon's Blog</title>
  <%- include css.ejs %>
</head>
<body id="blog-list">
  <!-- navigation bar -->
  <%- include navbar.ejs %>
  <!-- hook -->
  <%- include blog-hook.ejs %>
  <!-- blog list container -->
  <%- include blog-list-container.ejs %>



<script src="https://use.fontawesome.com/78f754ebab.js"></script>
</body>
</html>