<% for(var i = 0; i < blogs.length; i++) { %>
  <div id="blog-list-item" class="col-xs-4">
    <h2><%- blogs[i].title %></h2>
    <p class="truncate"><%- blogs[i].description %></p>
    <div class="blog-list-item-footer">
      <img src="/images/damon.jpg"> <span>Written by Damon Nguyen</span>
      <a href="/blog/detail/<%- blogs[i]._id %>" class="btn btn-primary btn-xs">read more</a>
    </div>
  </div>
<% } %>