<!DOCTYPE html>
<html>
<head>
  <title>Damon's Blog</title>
  <link rel='stylesheet' href='/css/bootstrap.css' />
  <link rel='stylesheet' href='/css/compiled.css' />
</head>
<body id="blog-list">
  
  <!-- navigation bar -->
  <%- include navbar.ejs %>


  <section></section>


<script src="https://use.fontawesome.com/78f754ebab.js"></script>
</body>
</html>