<section class="border-right-left-section">
  <div class="container-fluid" >
    <div class="row border-center">
      <div class="col-lg-4 col-md-6 col-sm-12 p-0">
        <div class="owl-carousel owl-theme triangle">
          <div class="item"><img class="img-responsive carousel-img" style="width: 300px;" src="/images/damon.jpg" alt=""></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 p-0">
        <div class="content-box intro-paragraph-container">
          <h3>Damon Nguyen</h3>
          <p>Hi, I am web developer.</p>
          <p>Let's build together.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 p-0">
        <div class="spacer10"></div>
        <div class="content-box">
          <div class="row">
            <div class="col-lg-7 col-md-12">
            <img src="/images/coding.jpg" class="landing-secondary-img" style="height: 200px;">
            </div>
            <div class="col-lg-5 col-md-12">
              <div class="tab-content">
                <div class="tab-pane active secondary-paragraph-container" id="tab01">
                  <h3 class="secondary-h3">Web Developer</h3>
                  <p class="secondary-p">The amazing thing about coding is the ability to solve problems not just one, but many ways. I am an aspiring software engineer who has a passion for solving real world problems.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-right-section" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-3 p-0 border-left-hover">
        <div class="media-container">
          <a href="http://www.shareshare.us/" target="_blank">
            <div class="media-file" style="padding-top: 20px;">
              <img src="images/shareshare2.png" alt="" class="img-fluid">
              <div class="cross"></div>
            </div>
          </a>
          <div class="media-text">
            <h3 class="media-title">shareshare</h3>
            <p>A crowdsourcing application for academic notes providing access to all notes across all subjects for students.</p>
            <p>Optical Character Recognition for image to text transcription of student notes.</p>
            <p><b>Tech Stack:</b> Angular, Express/Node, EJS, Less, Google OCR API, Googleapis, Google-drive, MongoDB, Passport.js</p>
            <p class="mb-0"><a href="project-detail.html"><i class="fa fa-github-square"></i> shareshare source code</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 p-0 border-left-hover">
        <div class="media-container">
          <a href="http://jobplus.online/" target="_blank">
            <div class="media-file" style="padding-top: 20px;">
              <img src="images/jobplus.png" alt="" class="img-fluid">
              <div class="cross"></div>
            </div>
          </a>
          <div class="media-text">
            <h3 class="media-title">JobPlus+</h3>
            <p>A web application that gives job seekers consolidated lifestyle options and amenities based on geolocation.</p>
            <p>A rehashed approach to traditional job search that aims to reduce job seekers relentless abuse of browser tabs to get an idea of what a jobs all about.</p>
            <p><b>Tech Stack:</b> React, Redux, Node, Express, Webpack, Maps API, Google Places API, Yelp API, Indeed API</p>
            <p class="mb-0"><a href="project-detail.html"><i class="fa fa-github-square"></i> JobPlus+ source code</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 p-0 border-left-hover">
        <div class="media-container">
          <a href="http://spontaneo.herokuapp.com/#/" target="_blank">
            <div class="media-file" style="padding-top: 20px;">
              <img src="images/spontaneo2.png" alt="" class="img-fluid">
              <div class="cross"></div>
            </div>
          </a>
          <div class="media-text">
            <h3 class="media-title">Spontaneó</h3>
            <p>Are you the type of person who has a difficult time deciding what to do? Where to eat? Spontaneó is the application to solve that problem.</p>
            <p>Spontaneó is a web application that allows users to generate spontaneous ideas, gifts, and restaurants based off geolocation, so no more getting stuck because Spontaneó is here to save the day!</p>
            <p><b>Tech Stack:</b> Angular, Node, Express, Yelp API, Wikipedia API</p>
            <p class="mb-0"><a href="project-detail.html"><i class="fa fa-github-square"></i> Spontaneó source code</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 p-0 border-left-hover">
        <div class="media-container">
          <a href="http://pokedex-mvp.herokuapp.com/#/" target="_blank">
            <div class="media-file" style="padding-top: 20px;">
              <img src="images/pokedex1.png" alt="" class="img-fluid">
              <div class="cross"></div>
            </div>
          </a>
          <div class="media-text">
            <h3 class="media-title">Pokédex</h3>
            <p>Pokédex is a project that I have built in two days for fun. In the Pokémon show the Pokémon trainers would carry a device called the pokédex and that device is used for displaying information about a specific Pokémon.</p>
            <p> I was inspired and wanted to create something similar, so I decided to aggregate hundreds of Pokémon data and displayed their basic stats visually with a bar and radar chart.</p>
            <p><b>Tech Stack:</b> Angular, Node, Express, Pokeapi, Heroku</p>
            <p class="mb-0"><a href="http://pokedex-mvp.herokuapp.com/#/"><i class="fa fa-github-square"></i> Pokédex source code</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
