<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Damon Nguyen</title>
    <%- include css.ejs %>
  </head>
  <body>
    <!-- navbar -->
    <%- include navbar.ejs %>
    <section class="border-right-section border-left-section-theme-color">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 p-0 triangle">
            <iframe class="google-map embed-responsive embed-responsive-1by1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50506.12713855421!2d-122.19783051492297!3d37.70481847969519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f857f043a66dd%3A0xe5aa490ddad757b2!2sSan+Leandro%2C+CA!5e0!3m2!1sen!2sus!4v1492644000482"></iframe>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 p-0">
            <div class="content-box">
              <h3 class="contact-h3">CONTACT</h3>
              <p class="contact-p">The best way to reach me is to email me or call me directly at my mobile number. Thank you!</p>
              <p class="contact-p">
                <strong>Bay Area California</strong><br>
                San Leandro, CA 94577<br>
                Mobile: 510-759-2886<br>
                email: damonnguyen92@gmail.com
              </p>
              <p>
              <!-- <p>
                <a  href="#contact" class="btn btn-primary popup-with-form" id="send">
                Write us</a>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include footer.ejs %>
    <%- include js.ejs %>
    <script defer>
      $(document).ready(function() {
        $('.i4ewOd-pzNkMb-haAclf').remove();
      });
    </script>
  </body>
</html>