<footer id="footer">
  <div class="container-fluid border-right-footer">
    <div class="row">
      <div class="col-md-6 footer">
        <div class="spacer20"></div>
        <p>&copy; 2017 Damon Nguyen. All rights reserved.</p>
      </div>
      <div class="col-md-6 footer">
        <ul class="social-1">
          <li><a href="https://github.com/damonnguyen92" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/damonnguyen92/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>