<div class="row" id="hobbies" >
  <div class="text-center">
    <h5>Interest and Hobbies</h5>
  </div>
  <div class="three hobby">
    <h6>Popping</h6>
    <div class="img-container">
      <img src="/images/popping.png">
    </div>
    <p>Popping is a street dance that is comprised of many styles(waving, strutting, animation) and you usually dance to funk music. </p>
  </div>
  <div class="three hobby">
    <h6>Brazilian Jiu-Jiutsu</h6>
    <div class="img-container">
      <img src="/images/bjj.png">
    </div>
    <p>I enjoy training BJJ because it's a good way to excercise and learn how to defend yourself. Joining a BJJ gym open doors to making new friends, build confident and discipline. To be able to submit someone without being submitted is extremely fun.</p>
  </div>
  <div class="three hobby">
    <h6>Super Smash Brothers</h6>
    <div class="img-container">
      <img src="/images/smash.png">
    </div>
    <p>Super Smash Bros is the only video game that I play. The only reason why I bought a Wii U is only for this game. Something about knocking your opponent off the edge of a cliff is so rewarding!</p>
  </div>
  <div class="three hobby">
    <h6>Star Trek</h6>
    <div class="img-container">
      <img src="/images/startrek.png">
    </div>
    <p>Call me a nerd, but I think Star Trek is awesome! The problems that the characters in the show face are very similar to the problems we face today. It is amazing how old this show is, but how ahead of it's time it is.</p>
  </div>
</div>