<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
<!--     <link rel='stylesheet' href='/css/canvasAnimation.css' />
    <link rel='stylesheet' href='/css/style.css' />
 -->    <link rel='stylesheet' href='/css/compiled.css' />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">dynamic-damon</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=""><a target="_blank" href="#">Blog</a></li>
          <li class=""><a target="_blank" href="https://www.facebook.com/damonsauce"><i class="fa fa-facebook"></i></a></li>
          <li class=""><a target="_blank" href="https://github.com/damonnguyen92"><i class="fa fa-github"></i></a></li>
          <li class=""><a target="_blank" href="https://www.linkedin.com/in/damonnguyen92"><i class="fa fa-linkedin"></i></a></li>
          <li class=""><a target="_blank" href="https://plus.google.com/u/0/100786260637340757965"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        <form class="navbar-form navbar-left">
        </form>
      </div>
    </nav>

    <!-- Canvas graphics -->
    <section id="space">
      <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <h1 class="main-title">Damon <span class="thin">Nguyen</span></h1>
        <h3 class="secondary-title">Full Stack Engineer</h3>
        <div id="canvasNavBar">
          <ul>
            <li class="canvasLi"><a class="afb" target="_blank" href="https://www.facebook.com/damonsauce"><i class="fa fa-facebook fa-3x"></i></a></li>
            <li class="canvasLi"><a class="agh" target="_blank" href="https://github.com/damonnguyen92"><i class="fa fa-github fa-3x"></i></a></li>
            <li class="canvasLi"><a class="ali" target="_blank" href="https://www.linkedin.com/in/damonnguyen92"><i class="fa fa-linkedin fa-3x"></i></a></li>
            <li class="canvasLi"><a class="agp" target="_blank" href="https://plus.google.com/u/0/100786260637340757965"><i class="fa fa-google-plus fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- introduction -->
    <section class="intro" id="introduction">
        <div class="container">
          <div class="col-xs-6 left">
            <div class="intro-marker">
             <h1>San Leandro, CA <i style="color: #a94442;" class="fa fa-map-marker" aria-hidden="true"></i></h1>
            </div>
            <div>
              <img class="intro-picture" src="/images/damon.jpg">
              <div>
                <p style="padding-top: 20px;" class="intro-description">I am a full-stack software engineer who has experience working in the frontend and backend. I enjoy building data rich, beautifully designed, scalable, and high performant web application. I enjoy coding because of the never ending learning and solving complex challenges. I am a highly motivated individual who aspires to become a coding ninja! I am looking for an environment where they build impactful products, have awesome culture, and an awesome team.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 right">
            <div class="intro-tech-stack">
              <h1>Tech Stack <i class="fa fa-cog" aria-hidden="true"></i></h1>
              <ul class="intro-list-stack">
                <li class="intro-list-item">JavaScript</li>
                <li class="intro-list-item">HTML</li>
                <li class="intro-list-item">CSS</li>
                <li class="intro-list-item">React/Redux</li>
                <li class="intro-list-item">Angular</li>
                <li class="intro-list-item">Node/Express</li>
                <li class="intro-list-item">Less</li>
                <li class="intro-list-item">Git/GitHub</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="intro-download-resume">
          <a href="/files/DamonNguyensresume.pdf" target="_blank">download resume</a>
        </div>
    </section>

    <!-- projects -->
    <section id="projects">
      <div>
        <h1>Projects</h1>
      </div>
    </section>

    <script src="https://use.fontawesome.com/78f754ebab.js"></script>
    <script src="/javascripts/TweenLite.min.js"></script>
    <script src="/javascripts/EasePack.min.js"></script>
    <script src="/javascripts/canvasAnimation.js"></script>
</html>
