<section class="intro" id="introduction">
    <div class="container">
      <div class="col-xs-6 left text-center">
        <div class="intro-marker">
         <h3>San Leandro, CA <i style="color: #a94442;" class="fa fa-map-marker" aria-hidden="true"></i></h3>
        </div>
        <div>
          <img class="intro-picture" src="/images/damon.jpg">
          <div>
            <p class="intro-description">I am a full-stack software engineer who has experience working in the frontend and backend. I enjoy building data rich, beautifully designed, scalable, and high performant web application. I enjoy coding because of the never ending learning and solving complex problems.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 right text-center">
        <div class="intro-tech-stack">
          <h3>Tech Stack <i class="fa fa-cog" aria-hidden="true"></i></h3>
          <ul class="intro-list-stack">
            <li class="intro-list-item">JavaScript</li>
            <li class="intro-list-item">HTML</li>
            <li class="intro-list-item">CSS</li>
            <li class="intro-list-item">React/Redux</li>
            <li class="intro-list-item">Angular</li>
            <li class="intro-list-item">Node/Express</li>
            <li class="intro-list-item">Less</li>
            <li class="intro-list-item">Git/GitHub</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="intro-download-resume">
      <a href="/files/DamonNguyensresume.pdf" target="_blank">download resume</a>
    </div>
</section>