<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">dynamic-damon</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="/blog">Blog<img class="blog" src="/images/beta.png"></a></li>
      <li class=""><a target="_blank" href="https://www.facebook.com/damonsauce"><i class="fa fa-facebook"></i></a></li>
      <li class=""><a target="_blank" href="https://github.com/damonnguyen92"><i class="fa fa-github"></i></a></li>
      <li class=""><a target="_blank" href="https://www.linkedin.com/in/damonnguyen92"><i class="fa fa-linkedin"></i></a></li>
      <li class=""><a target="_blank" href="https://plus.google.com/u/0/100786260637340757965"><i class="fa fa-google-plus"></i></a></li>
    </ul>
    <form class="navbar-form navbar-left">
    </form>
  </div>
</nav>