<!-- Navigation -->
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <a class="brand" href="/">Damon Nguyen</a> <!-- brand text -->
        <!-- Main navigation -->
        <nav class="navbar">
          <ul class="nav" id="nav">
            <li class="active">
            <li><a href="/about" title="About">About</a></li>
            <li>
            <li><a href="/contact" title="Contact">Contact</a></li>
          </ul>
        </nav>
        <!-- Main navigation end-->
      </div>
      <!-- col-md-12 end --> 
    </div>
    <!-- row end -->  
  </div>
  <!-- container-fluid end -->
</header>