<div class="row text-center" id="passion">
    <div class="passion">
      <h3>Understanding my passion</h3>
      <img src="/images/passion.png">
      <p>The amazing thing about coding is the ability to solve problems not just one, but many ways. We live in a world where software is used as a tool to help make people's lives easier whether that is paying your bills with your phone or calling an Uber driver to pick you up wherever you are. I believe that one of the keys to happiness is to help others. That is why I strive to become a better coder everyday because coding is a path I can take to help others. I am an aspiring software engineer who has a passion for solving real world problems that has the ability to impact people's lives.</p>
    </div>
</div>