<div id="project3" class="row text-center">
    <div class="six left">
      <h2 style="color: white;">Spontaneó </h2>
      <div class="projects-description">
        <p>Are you the type of person who has a difficult time deciding what to do? Where to eat? Spontaneó is the application to solve that problem. Spontaneó is a web application that allows users to generate spontaneous ideas, gifts, and restaurants based off
        geolocation, so no more getting stuck because Spontaneó is here to save the day!</p>
      </div>
      <div class="projects-stack">
        <h4 style="color: #FFFFFF;"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i> Full Stack</h4>
        <ul class="projects-stack-list">
          <i class="fa fa-list fa-2x" aria-hidden="true"></i>
          <li class="projects-stack-list-item">Angular</li>
          <li class="projects-stack-list-item">Node</li>
          <li class="projects-stack-list-item">Express</li>
          <li class="projects-stack-list-item">Yelp API</li>
          <li class="projects-stack-list-item">Wikipedia API</li>
        </ul>
      </div>
      <div class="projects-src">
        <a href="https://github.com/dial-up/spontaneo" target="_blank">
          <i class="fa fa-github-square fa-2x" aria-hidden="true"></i> Spontaneó  source code
        </a>
      </div>
    </div>
    <div class="six right">
      <a href="http://spontaneo.herokuapp.com/#/" target="_blank">
        <img class="projects-image-top" src="/images/Spontaneó1.png" alt="Pokédex result page">
        <img class="projects-image-bottom" src="/images/Spontaneó2.png" alt="Pokédex result page">
        <span><i class="fa fa-external-link fa-5x top" aria-hidden="true"></i></span>
        <span><i class="fa fa-external-link fa-5x bottom" aria-hidden="true"></i></span>
      </a>
    </div>
</div>