<div class="row" id="space">
  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <h2 class="main-title">Damon Nguyen</h2>
    <h3 class="secondary-title">Full Stack Engineer</h3>
    <div id="canvasNavBar">
      <ul>
        <li class="canvasLi"><a class="afb" target="_blank" href="https://www.facebook.com/damonsauce"><i class="fa fa-facebook fa-3x"></i></a></li>
        <li class="canvasLi"><a class="agh" target="_blank" href="https://github.com/damonnguyen92"><i class="fa fa-github fa-3x"></i></a></li>
        <li class="canvasLi"><a class="ali" target="_blank" href="https://www.linkedin.com/in/damonnguyen92"><i class="fa fa-linkedin fa-3x"></i></a></li>
        <li class="canvasLi"><a class="agp" target="_blank" href="https://plus.google.com/u/0/100786260637340757965"><i class="fa fa-google-plus fa-3x"></i></a></li>
      </ul>
    </div>
  </div>
</div>