#project2 {
  width: 100%;
  margin: 0;
  height: 660px;
  background-image: url('/images/comb.png');
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: none;

  .left {
    color: #FFFFFF;
    padding-top: 90px;
    .projects-description {
      p {
        font-family: 'Raleway', Calibri, Arial, sans-serif;
        // font-size: 20px;
        font-size: 3.5vmin;
      }
    }
    .projects-stack {
      .projects-stack-list {
        padding-top: 10px;
        list-style-type: none;
        font-size: 12px;
      }
      .projects-src {
        padding-top: 10px;
        text-decoration: none;
      }
    }
  }
  
  //mixin with the hover logic
 .overlayHover
}

